<div class="AboutMe">
  <div class="AboutMe-Avatar AboutMe__Box">
    <pre>
                        `
              `-``-:://y+.` `:`
          -/++:+os-`` -/..-hh+//o.
         :+/-`             `   +:/so`
       /m+                        .:/-
     `yN/                            hy`
     hy:                             .Nm`
    +d                                /dy
    hy                  ``             hM`
    /s/osssso+/:.        -:::--..``   +MM.
    /o......``..-:::`    /--::::::---:s-h`
 ..:N`              /   .o            `od
::.mh               `.  ::             smo+:
-:`ho   `.----..    -h//y:  `.----.    ym -/
   hs               .:  -+             dh-/
   dh/+///:----::///..  `y--...```     Nd.
   d`                      ``..-----../N:
   ms                .`               `h`
   m+                /.               /m
   mm                /`              .md
   mM:                               .My
   dMmo` / - / -:: /.o-.:`/ :/ /``+ /NM.
   yMNNNhNsmoo/dNh+mh-ddMoN//+/hssdo/Mm`
   :Ms+m.-d.+ `m. h  .  om``s oo -h./m:
    hdmNN`s h `d -h :h `+o`//:sy:++mMd
    .yMMMyd/d +y`oh o/:/`/y``ho yhymM+
      ymm/dd/o+ /Ndy/.` `s/  hs.hNm.``
        /hdd+m+ .+:-`d `o ::o`NMs+-
          .smNydo`-ohood-+/+Mmo.:`
             .Ndhdy+s/+/yNdd.
              ` `-/s+oo/:.
                   `-/
                   :/+
                   :/+`
                  `//-:  `-:---...
          `:::..--.o+ .`:+-`</pre>
  </div>
  <div class="AboutMe-Description AboutMe__Box">
    <p>Sebastián González Villena</p>
    <p>sgonzalez@debianchile.cl</p>
    <a href="https://github.com/brutalchrist">github.com/brutalchrist</a>
    <p>Actualmente desarrollador web, amante de la computación física y los robots. En sus años de estudiante se dedicó al mundo de Software Libre llegando a ser parte de la comunidad chilena de Debian.</p>
    <p>Inquieto por naturaleza siempre en busqueda de nuevos conocimientos y hobbies. Desde el año 2017 practica el complejo arte del cambio de pañales y esquivar combos y patadas nocturnas.</p>
    <p>Amante de la música, la cerveza y los juegos de rol. A menudo se junta con Ave Autómata a hacer un algo de música.</p>
    <pre (click)="handleMicetown()">
      ....................'..............
      ''................,dd'..  .........
      .............,,.';. ...........'...
      ........'':'.o0x.,cc'.clkOO;;:,....
      ......lk0OO0O:'cdoc;dkk:.cdxodc....
      ....;O0kxkdxkkkdl:,,,,dxd00lxxkX;..
      .,l00koc;OkOl;:lkOOKXKOx.'cc0kOK'..
      O000K00dldxdxkx0KK00XKOkOodxd0Kc...
      lxOxkkOKKxclddoXXKXKc::olllxxo'.;x.
      lxoxdxxlcddKXKNNNXKl.;:;;,,''...l;.
      ;X,kcdkxOOOXkXNWNXx';ldddodoo'..o..
      'O.'.,cclOOckNNX0c':odkkxdoodo;.:d.
      .c......,;'.:ll;..;oxOkodcllcdc..Oo
      ..'',............':oxkkc;,ooll:'xkl
      .,cd:;,''........;;dx0Oc.xOXX0OOOo,
      .'odc;,lx:,'...'c::x00Od'dOddOOc'..
      ''.....''oOxldxd:,dOOOOxc,c'lc..'..
      '...'''''';lxK0x,xOOO00kool,:;:::'.
    </pre>
  </div>
</div>
